.center {
    display: flex;
    justify-content: center;
}

.heading {
    font-family: "Libre Baskerville", serif;
}

.subheading {
    font-family: "Source Sans Pro", sans-serif;
}

#login {
    margin-top: 15vh;
}

#register{
    margin-top: 5vh;
}
